<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="hero.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="card">
          <img src="../../../assets/gs4_card.jpeg" alt="Image 1" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Sunrise at Nanga Parbat</h5>
            <p class="card-text">Witnessing the breathtaking sunrise over Nanga Parbat, the world's ninth-highest mountain.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="card">
          <img src="../../../assets/clc_card.jpeg" alt="Image 2" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Khunjrab Pass Adventure</h5>
            <p class="card-text">Embarking on an adventurous journey through the stunning landscapes of Khunjrab Pass.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="card">
          <img src="../../../assets/rfa_card.jpeg" alt="Image 3" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Shangrila Resort</h5>
            <p class="card-text">Relaxing at the enchanting Shangrila Resort, surrounded by lush greenery and clear blue waters.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="card">
          <img src="../../../assets/yhc_card.jpeg" alt="Image 4" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Hunza Valley Exploration</h5>
            <p class="card-text">Exploring the vibrant culture and mesmerizing landscapes of the Hunza Valley.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="card">
          <img src="../../../assets/clc_card.jpeg" alt="Image 2" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Khunjrab Pass Adventure</h5>
            <p class="card-text">Embarking on an adventurous journey through the stunning landscapes of Khunjrab Pass.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6  col-md-6">
        <div class="card">
          <img src="../../../assets/rfa_card.jpeg" alt="Image 3" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Shangrila Resort</h5>
            <p class="card-text">Relaxing at the enchanting Shangrila Resort, surrounded by lush greenery and clear blue waters.</p>
          </div>
        </div>
      </div>

      <div class="w-100 mt-4">
        <div class="text-center">
          <button data-text="Awesome" class="button">
            <span class="actual-text">&nbsp;Explore&nbsp;</span>
            <span class="hover-text" aria-hidden="true">&nbsp;Explore&nbsp;</span>
        </button>
        </div>
      </div>

    </div>
  </div>
</body>
</html>