<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="hero.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>
<body>
  <div class="container">
    <div class="hero_head_text-container">
      <p class="text-center">Top Selling</p>
      <h1 class="text-center" style="color: rgb(47, 47, 47);">Top Destinations</h1>
    </div>
    <div class="row" id="destinations">
      
    </div>
    <div class="button_container">
      <div class="text-center">
        <a href="../ExploreDestinations/exploreDestinarions.html" target="_blank">
          <button data-text="Awesome" class="button">
            <span class="actual-text">&nbsp;Explore&nbsp;</span>
            <span class="hover-text" aria-hidden="true">&nbsp;Explore&nbsp;</span>
          </button>
        </a>
      </div>
    </div>
  </div>
  <script src="hero.js"></script>
  <script src="script.js"></script>
</body>
</html>