<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="header.css">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
</head>
<body>
  <header class="head text-center">
    <video src="../../../assets/production_id_4441066 (1080p).mp4" preload="auto" controls height="500px" loop width="100%"></video>
    <!-- <h1>Pakistan Travel Vlog</h1>
    <p>Exploring the beauty of Northern Pakistan</p> -->
  </header>
</body>
</html>
    