*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.head {
  /* background-image: url('../../../assets//headimg1.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  
  color: #fff;
  padding: 100px 0;
  margin-bottom: 1rem;
}

