<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="header.css">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
</head>
<body>
  <header class="header_container text-center">
    <video width="100%" height="100%" autoplay muted loop>
      <source src="../../../assets/pexels-kevin-cuesta-8716672 (1440p).mp4" type="video/mp4" >
    </video>
    
    <div class="header_text_conatainer text-center ">
      <p id="main-text"  class="font-weight-bolder">Pakistan Travel Vlog</p>
      <p>Exploring the beauty of Northern Pakistan</p>
    </div>
  </header>
</body>
</html>
    